body {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.auth {
    background: url('/images/login_bg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main {
    background: url('/images/main_bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.signIn {
    color: limegreen;
}

.signIn:hover {
    color: green;
}

.signOut {
    color: orangered;
}

.signOut:hover {
    color: mediumvioletred;
}

.sendComment:hover {
    color: limegreen;
}

.createUser:hover {
    color: limegreen;
}

.today {
    font-weight: bold;
}

.username {
    font-weight: bold;
}

.greyedOutCommentButton {
    color: darkslategray;
}

p {
    word-break: break-all;
}

td.opportunityTable {
    max-width: 240px;
    min-width: 240px;
}

.flashMessage {
    text-decoration: underline;
    color: #ffffff;
}

.commentDeleteForm
{
    display: inline;
}

.commentDeleteButton {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}

.resultContainer {
    position:relative;
    max-width: 200px;
}
.viewThisResult {
    position:absolute;
    top:1px;
    left:-30px;
}


/*button css*/
.mini-listing.button {
    font-size: 14px;
    margin-top: -5px;
    padding: 5px 7px;
}
a.button {
    border-radius: 3px 3px 3px 3px;
    color: orangered;
    cursor: pointer;
    display: inline-block;
    font-weight: bold;
    line-height: 1;
    padding: 9px 34px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.resultContainer .viewThisResult {
    display: none;
}
.resultContainer:hover .viewThisResult {
    display: inline;
}
.resultContainer:hover {
    left:18px;
}


.panel-transparent {
    background: rgb(58, 63, 68);  /* Fall-back for browsers that don't support rgba */
    background: rgba(58, 63, 68, .5);
}

.panel-transparent .panel-heading{
    background: rgba(122, 130, 136, 0.2)!important;
}

#transparent {
    background: none;
}

.panel-transparent .panel-body{
    background: rgba(46, 51, 56, 0.2)!important;
}

.avatar{
    background: darkseagreen;
}

.avatar:hover {
    border: 1px solid darkseagreen;
    box-shadow: 0px 0px 0px 1px #eee;
}

.username {
    font-weight: bold;
    font-size: larger;
}
tr.spaceUnder > td
{
    padding-bottom: 4px;
}

/* Rounded Avatars */
.avatar-frame,.avatar-frame-navbar{
border: 2px solid darkgrey;
}

.avatar-frame,.avatar-frame img{
    width: 50px;
    height: 50px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}
.avatar-frame-navbar{
    width: 35px;
    height: 35px;
    -webkit-border-radius: 30px; /* Saf3+, Chrome */
    border-radius: 30px; /* Opera 10.5, IE 9 */
    /*-moz-border-radius: 30px;  Disabled for FF1+ */
}